*{
    margin: 0;
    padding: 0;
    box-sizing: 0;

    list-style: none;
    text-decoration: none;

    font-family: 'Poppins', sans-serif;

}

root{
    --font-dark-blue:rgb(2, 27, 78);
}


body{
    min-height: 100vh;
    width: 100vw;
    /* background-image: url(../img/nav-img/cloudy-4.jpg); */
    /* background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%); */
    background-image: linear-gradient(60deg, #13547a 0%, #80d0c7 50% , orange 100%);
    background-size: cover;
    background-repeat: no-repeat;

}

h1{
   text-align: center;
   color: var(--font-dark-blue);
   margin-bottom:2rem ;
   font-size:4rem;
}

